# Editor configuration, see http://editorconfig.org
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# JavaScript/TypeScript files
[*.{js,jsx,ts,tsx}]
indent_size = 2
max_line_length = 100

# CSS/SCSS/LESS files
[*.{css,scss,less}]
indent_size = 2
max_line_length = 100

# HTML files
[*.{html,vue}]
indent_size = 2
max_line_length = 100

# YAML files
[*.{yaml,yml}]
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false
max_line_length = 120

# JSON files
[*.json]
indent_size = 2

# Package files
[package.json]
indent_size = 2

# Lock files
[*.lock]
trim_trailing_whitespace = false
insert_final_newline = false