/**
 * 覆盖 VuePress 默认主题的调色板变量
 * 参考: https://v2.vuepress.vuejs.org/zh/reference/default-theme/styles.html#调色板
 */

// 例如:
// $accentColor: #345;
// $textColor: #678;

/**
 * 主题颜色变量
 * 用于覆盖默认主题的颜色变量
 */

// 颜色
$accentColor: #3eaf7c; // 主题色
$textColor: #2c3e50; // 文字颜色
$borderColor: #eaecef; // 边框颜色
$codeBgColor: #282c34; // 代码块背景色
$arrowBgColor: #ccc; // 箭头背景色
$badgeTipColor: #42b983; // 提示徽章背景色
$badgeWarningColor: #e7c000; // 警告徽章背景色
$badgeErrorColor: #da5961; // 错误徽章背景色

// 布局
$navbarHeight: 3.6rem; // 导航栏高度
$sidebarWidth: 20rem; // 侧边栏宽度
$contentWidth: 740px; // 内容区域宽度
$homePageWidth: 960px; // 首页宽度

// 响应式断点
$MQNarrow: 959px; // 窄屏断点
$MQMobile: 719px; // 移动端断点
$MQMobileNarrow: 419px; // 窄移动端断点
